.header .container {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  border-radius: 0px 0px 30px 30px;
  padding: 10px 0;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.links a:not(:last-child) {
  margin-right: 40px;
}

.home_logo:hover {
  color: rgb(162, 40, 167);
}

.about_logo:hover {
  color: #0bce63;
}

.github_logo:hover {
  color: #d47b28;
}

.tg_logo:hover {
  color: rgb(15, 179, 190);
}

.user_logo:hover {
  color: #d47b28;
}

.logo:hover {
  transform: scale(1.2);
}
